# Ignore SQLite database files
KairosPredict/users.db
*.sqlite
*.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore system files
.DS_Store
*.db

*.pkl

demo.py
demo2.py

.vscode/
.vscode/settings.json